@use '../abstracts/abstracts';

.navbar {
    background: abstracts.$gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 1rem;

    box-shadow: 0 .5em abstracts.$brown-light;

    padding-left: 3em;
    
    a {
        font-size: 1.2em;
        padding: 2em 3em;
    }
}