@forward 'reset.scss';
@forward 'typography.scss';
@use '../abstracts/abstracts.scss';

*, *::after, *::before {
  overflow-x: hidden;
}

body {
  background: abstracts.$white;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }