@use '../abstracts/abstracts.scss';
$secondary-font: 'Playfair Display',
serif;
$primary-font: 'Oswald',
sans-serif;
h1,
h2,
h3,
p {
    font-family: $primary-font;
}

h1 {
    color: abstracts.$white;
    font-size: 4em;
    font-weight: 700;
    border-bottom: .05em abstracts.$brown-dark solid;
    padding: 0.1em;
    text-shadow: 0 0 .2em #000;
}

h2 {
    color: abstracts.$white;
    font-size: 2em;
    border-bottom: .05em abstracts.$brown-dark solid;
    padding: 0.1em;
}

p {
    color: abstracts.$white;
    font-weight: 200;
    line-height: 1.2em;

    strong {
        font-weight: 300;
    }
}

a {
    color: abstracts.$brown-light;
    text-decoration: none;
    font-family: $primary-font;
    font-size: 1em;
}

.textinput,
select,
button {
    font-family: $primary-font;
}