@use '../abstracts/abstracts.scss';

$secondary-font: 'Playfair Display', serif;
$primary-font: 'Oswald', sans-serif;

h1, h2, h3 {
    font-family: $primary-font;
}

h1 {
    color: abstracts.$black;
    font-size: 4em;
    font-weight: 700;
}
h2 {
    color: abstracts.$gray;
    font-size: 2em;
}

a {
    color: abstracts.$brown-light;
    text-decoration: none;
    font-family: $primary-font;

    font-size: 1em;
    
    transition: font-weight 300ms ease-in-out;
}
a:hover {
    font-weight: 900;   
    //box-shadow: 0 .1em abstracts.$brown-light;
}
