<<<<<<< HEAD
@use '../abstracts/abstracts.scss';

$main: 'Playfair Display', serif;

a {
    color: abstracts.$brown-light;
    text-decoration: none;
    font-family: $main;

    font-size: 1em;

    
    transition: font-weight 300ms ease-in-out;
}
a:hover {
    font-weight: 900;
    //box-shadow: 0 .1em abstracts.$brown-light;
}
=======
@use '../abstracts/abstracts.scss';
>>>>>>> 13610d65b3d40ce910bf1ae0193077136f3c9787
