@use '../../abstracts/abstracts';

body{
    background: abstracts.$black;
}

.initial{
    overflow-y: hidden;
    
    h1{
        overflow-y: hidden;
        border: 0;
    }

    h2{
        overflow-y: hidden;
            border: 0;
    }

}

.underline{
    width: 20%;
    color: abstracts.$brown-light;
}

.titlemain{
    overflow: hidden;
}


.triangle-grey{
        position: absolute;
        clip-path: polygon(29% 0, 100% 35%, 100% 0);
        background-color: abstracts.$gray-dark;
        z-index: 300;
        width: 70vw;
        height: 100vh;
        top: -10%;
        right: 0;
}
    
.triangle-gold{
        position: absolute;
        clip-path: polygon(29% 0, 100% 35%, 100% 0);
        background-color: abstracts.$brown-light;
        z-index: 299;
        width: 70vw;
        height: 100vh;
        top: -8.5%;
        right: 0;
}

.swiper-container{
    height: 500px;
    background: #ccc;

        
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;

}