@use '../../abstracts/abstracts';

@media only screen and (max-aspect-ratio: 2/3) {
    .content {
        background: abstracts.$gray-dark;
        font-size: 1rem;
        
        .first-part  {  
            box-shadow: 0px 10px 1.5em rgba(0,0,0,0.7);
            padding-top: 7.5vh;
            img {
                height: 65vw;
                top: 3vh;
            }
            .border {
                height: 67vw;
                width: 100vw;
                top: 3vh;
            }

            h2 {
                padding-top: 50vw;
            }
        }

        .break {
            height: 20vh;
            #parallax-img  {
                width: unset;
                height: 70vh;
                right: 50vw;
            }
        }

        .location {
            box-shadow: 0px -10px 1.5em rgba(0,0,0,0.7);
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 7vh;

            h2 {
                margin-top: 0;
            }

            img {
                margin: 0;
                margin-top: 2em;
                height: unset;
                width: 80vw;
            }
        }
    }
}