@use '../../abstracts/abstracts';

.content {
    background-image: url("https://images.unsplash.com/photo-1552242718-c5360894aecd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb");
    background-attachment: fixed;
    background-position: center;
    font-size: 1.5rem;
    * {
    overflow: visible;
    }

    h2, p {
        margin: 0rem;
        padding: 0;
    }

    h2 {
        margin-bottom: .5em;
        color: abstracts.$brown-dark;
        border: none;
        margin-top: 5vh;
    }
    p {
        color: #ebebeb;
        font-size: 1.2em;
        margin-right: 8vw;

        strong {
            color: white;
        }
    }
    .first-part {
        box-shadow: 0px 30px 1.5em rgba(0,0,0,.4);
        background: abstracts.$gray-dark;
        img {
            position: relative;
            float: right;
            shape-outside:  polygon(37% 4px, 100% 0px, 100% 100%, 53% 100%, 8vw 52%) border-box;
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 36% 100%, 0 55%);
            height: 40vw;
            top: -5vh;
            right: -15vw;
        }

        h2 {
            margin-top: 10vh;
        }
    }

    .border {
        position: absolute;
        background: abstracts.$brown-dark;
        shape-outside:  polygon(37% 4px, 100% 0px, 100% 100%, 53% 100%, 8vw 52%) border-box;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 36% 100%, 0 55%);
        height: 41vw;
        top: -5vh;
        width: 62vw;
        right: -15vw;
    }

    .border-shadow {
        filter: drop-shadow(0 0 2em rgba(0,0,0,0.7));
    }

    .first-part {
        z-index: 2;
        overflow: hidden;
        position: relative;
        padding: 10vh 0 14vh 8vw;
    }
    * {
        box-sizing: border-box;
      }

    .break {
        z-index: 0;
        display: block;
        width: 100vw;
        height: 20rem;
        overflow: hidden;

        #parallax-img {
            z-index: 0;
            position: relative;
            top: -10vh;
            width: 100vw;
        }
    }

    .location {
        box-shadow: 0px -30px 1.5em rgba(0,0,0,.4);
        position:relative;
        z-index: 2;
        background: abstracts.$gray-dark;
        display: flex;
        padding-bottom: 5vh;
        padding: 5vh 8vw 15rem 8vw;
        align-items: center;
        margin-bottom: 3vh;

        img {
            height: 20vw;
            border-radius: 2rem;
            margin-left: 2rem;
            filter: drop-shadow(0 0 2em rgba(0,0,0,0.7));
            transition: transform 200ms ease-in-out;
            margin-top: 10vh;
        }
        img:hover {
            transform: scale(1.05);
        }
    }

}