@use '../../abstracts/abstracts';

.content {
    font-size: 1.5rem;
    * {
    overflow: visible;
    }

    h2, p {
        margin: 0rem;
        padding: 0;
    }

    h2 {
        margin-bottom: .5em;
        color: abstracts.$brown-dark;
        border: none;
        margin-top: 10vh;
    }
    p {
        color: white;
        font-size: 1.2em;
    }
    img {
        position: relative;
        float: right;
        shape-outside:  polygon(16.41% 229px, 94.89% 212px, 58.46% 74.47%, 10px 48.04%) border-box;
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 50%);
        shape-margin: 4%;
        width: 50%;
        top: -10vh;
    }

    .first-part {
        overflow: hidden;
        position: relative;
        margin: 10vh 0 5vh 4rem;
    }
    * {
        box-sizing: border-box;
      }

}