@use '../abstracts/abstracts';

.footer {
    background-color: black;
    color: abstracts.$white;
    width: 100vw;
    font-size: 1rem;
    padding: 2.5em 0;
    position: absolute;
    bottom: -1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    h1 {
        overflow-y: hidden;
        border: 0;
        padding: 0 1em;
    }
    p {
        overflow-y: hidden;
        font-size: 1.5em;
        padding: 0 1em;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    body {
        background: black !important;
    }
    .footer {
        font-size: .7rem;
        position: relative;
        bottom: 1vh;

        h1 {
            font-size: 2rem;
            padding: 0 3rem 0 1.5rem;
        }
    }
}