@use '../../abstracts/abstracts.scss';

@media only screen and (max-aspect-ratio: 3/2) {
    .clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }
    .shadow-dark, .shadow-gray {
        display: none;
    }

    .section2 {
        background-color: abstracts.$gray;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .section3 {
        img {
            width: unset !important;
            height: 50vh !important;
            clip-path: none !important;
            transform: translateX(-30%) translateY(-5%);
            bottom: -10vh;
            left: 0;
        }

        .part {
            clip-path: none;
            width: 100vw;
            height: 40vh;
        }
    }
    
    .bottom-gold {
        display: none;
    }
    .home-img {
        left: -422px;
        right: unset;
        img{
            height: 100vh;
            width: auto;
        }
    }

    .movement-pc {
        display: none;
    }
    .movement-mobile {
        display: block !important;
        
    }    

    .title {
        font-size: 1.7rem;

        .stable {
            align-items: center;
        }

        h1 {
            text-align: center;
            margin-left: 0 !important;
            animation: none !important;
        }
        
        a {
            margin-left: 0 !important;
            animation: none !important;
        }
    }

    .section2 {
        font-size: 1.7rem;
        
        h2 {
            margin-top: 1em;
        }

        filter: none;
        
    }

    .clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }

    .shadow-dark, .shadow-gray {
        display: none;
    }


    .bottom-gray {
        position: absolute;
        background: transparent;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        clip-path: none;
    }
    .bottom-gray::before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100vw;
        height: 100vh;
        background: abstracts.$gray;
        clip-path: polygon(25% 85%, 0% 100%, 100% 100%);
    }
    .bottom-gray::after {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100vw;
        height: 100vh;
        background: abstracts.$brown-dark;
        clip-path: polygon(100% 97%, 25% 85%, 100% 100%);
    }

    .foo {
        display: block;
        position: absolute;
        top: 0;
        height: 6rem;
        width: 100vw;
    }
    .foo::before {
        content: "";
        position: absolute;
        top: 0;
        background-color: abstracts.$gray;
        height: 6rem;
        width: 100vw;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
    }
    .foo::after {
        content: "";
        content: "";
        position: absolute;
        top: 0;
        background-color: abstracts.$brown-dark;
        height: 6rem;
        width: 100vw;
        clip-path: polygon(0 0, 100% 100%, 0 20%);
    }
}