@use '../../abstracts/abstracts.scss';

@media only screen and (max-aspect-ratio: 3/2) {
    .clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }
    .section3 {
        img {
            width: 100vw;
            height: unset;
            clip-path: none !important;
        }
    }
    .shadow-dark, .shadow-gray {
        display: none;
    }

    .section2 {
        background-color: abstracts.$gray;
        padding-bottom: 5rem;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .bottom-gray,
    .bottom-gold {
        display: none;
    }
    .home-img {
        left: -422px;
        right: unset;
        img{
            height: 100vh;
            width: auto;
        }
    }

    .movement-pc {
        display: none;
    }
    .movement-mobile {
        display: block !important;
        
    }    

    .title {
        font-size: 1.7rem;

        .stable {
            align-items: center;
        }

        h1 {
            text-align: center;
            margin-left: 0 !important;
        }
        
        a {
            margin-left: 0 !important;
        }
    }

    .section2 {
        font-size: 1.7rem;
        
        h2 {
            margin-top: 1em;
        }

        filter: none;
    }

    .clip-path {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }

    .shadow-dark, .shadow-gray {
        display: none;
    }

    .section3 {
        img {
            width: 100vw;
            height: unset;
            clip-path: none !important;
        }
    }
}