@use '../../abstracts/abstracts';

body {
    background-color: abstracts.$brown-light;
}

.title {
    position: absolute;
    font-size: 2rem;
    clip-path: polygon(0 0, 39% 0, 50% 74%, 0% 100%);
    height: 100vh;
    width: 100vw;
    background-color: abstracts.$gray-dark;
    animation: open 1500ms ease-in-out;
    z-index: 300;

    h1 {
        overflow-y: hidden;
        width: 4.5ch;
        transform: translateY(30vh);
        margin-left: 10vw;
        animation: start1 1500ms ease-in-out;
    }
    a {
        position: absolute;
        transform: translateY(35vh);
        margin-left: 10vw;
        animation: start2 1500ms ease-in-out;
    }

    @keyframes start1 {
        0% {
            transform: translate(30vw,30vh);
        }
    }
    @keyframes start2 {
        0% {
            transform: translate(30vw,35vh);
        }
    }
    @keyframes open {
        0% {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        }
    }
}

.home-img {
    position: absolute;
    
    img {
        height: 100vh;
        width: 100vw;
    }
}

.bottom-gray {
    position: absolute;
    clip-path: polygon(50% 74%, 0% 100%, 100% 100%);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: abstracts.$gray;
}
.bottom-gold {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: abstracts.$brown-light;
    clip-path: polygon(100% 97%, 50% 74%, 100% 100%);
}

.shadow {
    filter: drop-shadow(0 -13em 5em rgba(0,0,0,0.7));
}
.shadow-special {
    width: 100vw;
    height: 100vh;
    position: absolute;
}


.section2 {
    position: relative;
    font-size: 2rem;
    width: 100vw;
    margin-top: 100vh;
    z-index: -1;
    
    filter: drop-shadow(0 .5em .6em rgba(0,0,0,0.5));
    
    .clip-path {
        background: abstracts.$gray;
        clip-path: polygon(100% 0, 100% 100%, 16% 100%, 0 60%, 0 0);
    }
    
    .part {    
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 10vw;
    }

    h2 {
        text-align: center;
        overflow-y: hidden;
        margin-bottom: 1em;
        width: 70vw;
        width: 10ch;
    }

    img {
        width: 70vw;
        margin-bottom: 0.75vw;
    }
}
.ses {
    position: absolute;
    bottom: 118.3vh;
    height: 2rem;
    width: 83.5%;
    right: 0;
    z-index: 50;
    background-color: abstracts.$gray;
}

.section3 {
    position: relative;

    img {
        height: 118vh;
        width: 100vw;
        clip-path: polygon(0 0, 100% 27%, 100% 100%, 0% 100%);
    }
}

.triangle-white {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    background: abstracts.$gray-dark;
}

.triangle-gray {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 30vh;
    bottom: 88.55vh;
    clip-path: polygon(100% 0, 16% 0, 100% 100%);
    background-color: abstracts.$gray;
}

.shadow-dark {
    position: absolute;
    bottom: 70vh;
    left: 0;
    height: 90vh;
    width: 15%;
    filter: drop-shadow(0 1em .6em rgba(0,0,0,0.5));
}

.whole {
    position: relative;
    overflow-y: hidden;
}

.shadow-gray {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    z-index: -1;
    filter: drop-shadow(1em 1.1em .6em rgba(0,0,0,0.5));
}

body {
    overflow-y: hidden;
}